/*reset*/

body{
	font:12px/25px
}
body,div,dl,dt,dd,ul,li{
	margin:0;padding:0;
}
a:link,a:visited{
	color:#FFF;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

/*index*/
#wrap{
	width:350px;
	background:#FFF;
	border:12px solid #EEE;
	border-radius:10px;
	margin:10px auto 0;
	padding:5px 5px 4px;
}
#wrap dl{
	color:#FFF;
	overflow:hidden;
	background:#7CF;
}
#wrap dt,#wrap dd{
	padding-left:15px;
	border-bottom:1px solid #FFF;}
#wrap dt{
	cursor:pointer;
	font-size:14px;
	background:#9C0;
	line-height:30px;
	font:700 14px/30px Tahoma;}
#wrap dt.current{
	background:#09F;
}
#wrap dd{
	background:#7CF;
	line-height:25px;
	font:12px/25px Tahoma;}
#copyright{
	color:#999;
	width:374px;
	text-align:right;
	font:12px/1.5 Tahoma;
	margin:5px auto 0;
}


#page-nav{
	width:100%;
	height:38px;
	position:fixed;
	bottom:0px;
	background-color:rgb(119,204,245);
}
#page-nav ul li a,#page-nav ul li{
	float:left;
	width:100px;
	height:38px;
	background-color:rgb(119,204,245);
	text-decoration: none
}
#page-nav ul li{
	border-right:1px solid white;
	border-left:1px solid white;
	margin:0 -1px;
}
#page-nav ul li a:hover{
	background-color:rgb(0,153,255);
	opacity:1;
}
#page-nav ul li a{
	opacity:1;
	color:white;
}
.page-nav-ul{
	position: relative;
	left:150px;
	text-align:center;
	line-height:38px;
	list-style-type:none;
	height:100%;
}

.explain-info-table{
	empty-cells:hide;
	border-collapse:collapse;
	width:80%;
	margin:50px 20px;
}
.explain-info-table th,.explain-info-table td{
	border:1px solid #ddd;
	padding:8px 15px;
}
.explain-info-table th{background-color:rgb(0,153,255) }
.explain-info-table tr:nth-child(2n+1){background-color:#eee;}
.explain-info-table tr:nth-child(2n){background-color:rgb(119,204,245);}


.left{float:left;}
.right{float:right;}

.emphasize{font:15/20px;font-weight:bold;font-color:blue;}

.content{width:100%;height:150px;border:1px solid rgb(0,153,255);}
.content-son{width:100px;height:100px;border:1px solid white;margin:10px;padding:10px;background-color:rgb(119,204,245);float:left;}
.selected{background-color:rgb(0,153,255);}
.A-son{background:1px solid white;width:90px;height:50px;background-color:rgb(0,153,255);}
